<div class="grid-container">
  
  <mat-form-field class="example-form-field">
    <mat-label>Search book</mat-label>
    <input matInput type="text" [(ngModel)]="value">
    <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="search()">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>

  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards" [colspan]="card.cols" [rowspan]="card.rows">
      <app-card [title]="card.title"></app-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
